<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700,
    900" rel-"stylesheet">
    <link rel="stylesheet" href="/public/css/app.css">
    <title>DevJobs</title>
</head>
<body>
    
    <div class="Container">
        <h1>
            <a href="/">DevJobs</a>
        </h1>
    </div>

    <div class="Principal-Container">
        {{body}}
    </div>

</body>
</html>