<main class="vacancies-list">
    <H2> vacancies list</H2> 

    <div class="vacancies">
        <div class="box">
            <h3>Facebook</h3>
            <p class="place">React Developer</p>
        </div>
        <div class="box">
            <p class="tag">Location</p>
            <p class="name">Remote</p>
        </div>
        <div class="box">
            <p class="tag">Contract</p>
            <p class="name contract">full time</p>
        </div>
        <div class="box vertical-center">
            <a href="#" class="btn btn-green">more info</a>
        </div>
    </div>
    <br>
    <!--vacancie-->
    <div class="vacancies">
        <div class="box">
            <h3>Airbnb</h3>
            <p class="place">Full stack Developer</p>
        </div>
        <div class="box">
            <p class="tag">Location</p>
            <p class="name">Remote</p>
        </div>
        <div class="box">
            <p class="tag">Contract</p>
            <p class="name contract">full time</p>
        </div>
        <div class="box vertical-center">
            <a href="#" class="btn btn-green">more info</a>
        </div>
    </div>

</main>